body {
    margin: 0;
}

#container{
    height: 100%;
    width: 100%;
    float:left;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#equationInput{
    width: 250px;
    height: 100%;
    float: left;
}

#accordian {
    height: 100%;
    float:left;
}

#graph
{
    height: 100%;
    overflow: hidden;
}

.button {
    width:48px;
    float:right;
    background-color: #5086ad;
}

.axis,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.vector {
    stroke: green;
    opacity: .75;
    stroke-width: 1px;
    fill: none;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    text-align: left;
}

.tick line
{
    stroke: #59ADEB;
    opacity: 0.5;
}

.centered
{
    text-align: center;
}

.blue {
    stroke: #59ADEB;
    opacity: 0.5;
}

.border {
    border: 1px solid rgba(69, 173, 235, .5);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 20px;
    margin: 2px;
}

.border-dark {
    border: 1px solid rgb(58, 139, 193);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 20px;
    margin: 2px;
}

input[type="text"] {
    margin: 2px;
    display: inline-block;
}

input[type="number"] {
    margin: 2px;
    display: inline-block;
}


p
{
    font-family: sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

g, path.domain
{
    stroke: #4F4F4F;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #f5f5f5;
    border-color: #4F4F4F;
}

.ui-state-active {
    border: #4F4F4F;
    stroke: white;
    background-color: #636363;
    text-align: center;
}

.ui-accordion-header-collapsed, #accordian{
    text-align: center;
    border-color: #4F4F4F;
}

.ui-icon { display: none; }

.dark {
    border-color: #4F4F4F;
    stroke: white;
    background-color: #636363;
}
