@import '../app.component.scss';

* {
    font: 16px/1.6 Helvetica,sans-serif;
    font-weight: 300;
}

html {
    background-color: $background-color;
}

.section-header {
    font-size: 28px;
    padding-left: 20px;
    font-weight: 400;
}

.site-main {
    margin-left: 300px;
    background-color: $background-color;
    color: #444;
}

@media screen and (max-width: 1023px) {
    .site-main {
        margin-left:0
    }
}

.site-main:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    content: " ";
    display: block;
    width: 300px;
    background-size: cover;
}

@media screen and (max-width: 1023px) {
    .site-main:before {
        display:none;
        max-width: 1023px;
    }

    .parent-home .site-main:before {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: auto;
        background-position: right top
    }
}

.site-main .site-main-inner {
    position: relative
}

.main-section {
    margin: 20px;
}

.toys-container {

  text-align: center;
}
