@import '../app.component.scss';
.site-sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    width: 250px;
    font-size: 14px;
    color: #fff;
    text-align: left;
    background-color: $accent-color;
}

@media screen and (max-width: 1023px) {
    .site-sidebar {
        top:auto;
        bottom: auto;
        left: auto;
        right: auto;
        position: relative;
        width: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .site-sidebar:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -50px;
        content: " ";
        display: block;
        width: auto;
        height: 850px
    }

    .parent-home .site-sidebar:before {
        display: none
    }
}

.site-sidebar .site-sidebar-inner {
    position: relative;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 45px 40px
}

.site-sidebar .site-sidebar-inner::-webkit-scrollbar {
    display: none
}

@media screen and (max-width: 1023px) {
    .site-sidebar .site-sidebar-inner {
        overflow:initial;
        height: auto;
        padding: 0 40px
    }
}

.user-panel_username {
    font-size: 24px;
}

.user-panel_title { 
}






