<!DOCTYPE html>
<html lang="en">

<link href="../style/site.css" rel="stylesheet">
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/d3/d3.js"></script>
<script type="text/javascript" src="../lib/d3/d3.layout.cloud.js"></script>
<script type="text/javascript" src="../lib/wordcloud/d3.wordcloud.js"></script>
<script type="text/javascript" src="../src/main.js"></script>


<head>
    <meta charset="UTF-8">
    <title>Word Cloud</title>
</head>
<body>
    <ul id="nav_bar">
        <li><a class="active">Word Cloud</a></li>
        <li><a href="tests.html">Tests</a></li>
        <li><a href="info.html">Info</a></li>
    </ul>

<div id="content">
    <div class="tab">
        <button class="tablink active" id="visual" onclick="switchTab(event, 'visual')">Visual</button>
        <button class="tablink" id="raw" onclick="switchTab(event, 'raw')">Raw</button>
    </div>
    <div class="tab_content active" id="wordCloud">
    </div>
    <div class="tab_content" id="raw_output">
    </div>
    <div id="containers">
        <div class="container" id="settings">
            <p class="label">Number of words:</p>
            <input type="number" min="1" max="1000" value="1000" id="num_word_input" onchange="numWordsChanged(value)">
            <br>
            <input type="range" min="1" max="1000" value="1000" id="num_word_slider" title="Number Of Words" onchange="numWordsChanged(value)">
            <br>
            <div class="inline">
                <p class="label">min count</p>
                <input type="number" id="min_count" min="0" value="0">
            </div>
            <br>
            <div class="inline">
                <p class="label">max count</p>
                <input type="number" id="max_count" min="0" value="100">
            </div>
            <br>
            <div class="inline">

                <input type="checkbox" id="alpha_checkbox">
                <p class="label">Sorted Alphabetic</p>

            </div>
            <br>
            <div class="inline">
                <input type="checkbox" checked id="count_checkbox">
                <p class="label">Sorted By Count</p>
            </div>
            <br>
            <div class="inline">
                <p class="label">Starts With: </p>
                <input type="text" checked id="filter_string" placeholder="sa">
            </div>
            <br>
            <button class="tablink" id="run" onclick="run()">Run</button>

        </div>
        <div class="container" id="input">
            <textarea id="input_text" placeholder="Input desired text here or select a file below." title="Input Text"></textarea>
            <br>
            <input type="file" name="file" id="file" onchange="processFile(files)">
        </div>
        <div class="container" id="excluded_words">
            <textarea id="filtered_text" placeholder="Words to ignore." title="Words to ignore">a, an, the, it, us, them</textarea>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        let wordCloudElement = $("#wordCloud");
        let width = wordCloudElement.width();
        let height = wordCloudElement.height();

        let str = "this is a sample sentence".split(" ");
        let m = [];
        for(let i = 0; i < str.length; i++){
            m.push({text: str[i], size: i})
        }

        d3.wordcloud()
            .selector('#wordCloud')
            .size([width, height])
            .words(m)
            .start();
    });
</script>
</body>
</html>