@import '../app.component.scss';

.experience-item {
    height: auto;
}

.experience-item_inner {
    height: auto;
    display: flex;
    background-color: $background-color;
}

.experience-item_timeline {
    height: inherit;
    width: 100px;
    display: inline-block;
    margin-right: 10px;
    color: #666;
    text-align: right;

    :after {
        padding-left: 6px;
        content: '•';
        position: absolute;
        display: inline-block;
        color: red;
    }
}

.experience-item_timeline, .experience-item_details-container {
    padding: 20px 0 0 20px;
}

.experience-item_details-container {
    width: calc(100% - 120px);
    display: inline-block;
    border-left: solid 1px $light-grey;
}

.experience-item_details {
    padding-left: 50px;
}

.experience-item_company {
    font-size: 20px;
    font-weight: 500;
}

.experience-item_title {
    font-style: italic;
}

.experience-item_description, .experience-item_bullets, .experience-item_bullet,
.experience-item_technologies, .experience-item_technology  {
    font-weight: 300;
    font-size: 14px;
}

.experience-item_technology {
    list-style-type: none;
    display: inline-block;
    border: 1px solid $accent-color;
    padding: 0 4px 0 4px;
    margin: 1px;
    background-color: $accent-color;
    color: white;
}

.experience-item_details-container hr {
    border: 1px solid $light-grey;
}

