.toy-container {
  width: 90%;
  min-width: 300px;
  display: inline-flex;
  margin: 10px;
  padding: 0;
}

.toy-image-container {
  width: 100%;
}

.toy-image {
  width: 100%;
  height: 100%;
}

.toy-description-container {
  width: 100%;
}
